{% extends 'base.html' %}   
{% load static %}
{% block title %}Лента записей{% endblock %}
{% block content %}
  <h1>Лента записей</h1>                        
  <!-- Перебираем в цикле все посты -->
  {% for item in post|slice:"::-1" %}
    <hr>
    <article>
      <ul>
        <li>
          Место: {{ item.location }}
        </li>
        <li>
          Дата: {{ item.date }}
        </li>
        <li>
          Категория: <a href="{% url 'blog:category_posts' item.category %}">{{ item.category }}</a>
        </li>
      </ul>
      <p> 
        {{ item.text|truncatewords:10 }}
      </p>
      <a href="{% url 'blog:post_detail' item.id %}">Читать полный текст</a>
    </article>
  {% endfor %}
{% endblock %}
